{% extends 'base.html.twig' %}

{% block title %}Quizz!{% endblock %}

{% block body %}
    <!-- component -->
<div class="bg-black text-white py-28">
    <div class="min-h-screen dark:bg-gray-900 py-6 flex flex-col justify-center sm:py-12">
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 px-4">
            <!-- SMALL CARD ROUNDED -->
            {% for categorie in categories %}
            <a href="{{ path('quizz.show', { 'id': categorie.id, 'number':0 }) }}" class="bg-gray-300 border-red-600 dark:bg-gray-800 bg-opacity-95 border-opacity-60 | p-4 border-solid rounded-3xl border-2 | flex justify-around cursor-pointer | hover:bg-indigo-400 dark:hover:bg-indigo-600      hover:border-transparent | transition-colors duration-500">

                <div class="flex flex-col justify-center">
                    <p class="text-gray-900 dark:text-gray-300 font-semibold">{{ categorie.name }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
